<!doctype html>
<html>
<head>
    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Socket.IO chat</title>
    <style>
        *{margin:0;padding:0;box-sizing:border-box;}
        .center{margin:auto;width:350px;}
        #messages{list-style-type:none;margin:0;padding:0;}
        #messages li{padding:5px 10px;}
        #messages li:nth-child(odd){background:#eee;}
    </style>
</head>
<body>
<div class="center" id="d1" style="border: 1px solid red;height: 300px;overflow:scroll;overflow-x:hidden;">
    <p><%=host%></p>
    <ul id="messages"></ul>
</div>
<form action="" class="center">
    <table style="width:100%">
        <tr>
            <td>
                <input style="width:100%" id="m" autocomplete="off"/></td>
            <td>
                <input style="width:100%" type="submit" value="发送"/>
            </td>
        </tr>
    </table>
</form>

<script src="javascripts/socket.io-1.4.8.js"></script>
<script src="javascripts/jquery.js"></script>
<script>
    var socket = io('<%=host%>');
    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });
    socket.on('connect', function () {
        $('#messages').append($('<li>').text('connect success!'));
        $('#d1').scrollTop( $('#d1')[0].scrollHeight );
    })
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        $('#d1').scrollTop( $('#d1')[0].scrollHeight );
    });
</script>

</body>
</html>