<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="Generator" content="手机网" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<title>商城演示站 - Powered by Node.js</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="icon" href="animated_favicon.gif" type="image/gif" />
	<link href="/css/member.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<%include ../header%>
<div class="content">
	<div class="user">
		<div class="menu">当前位置: <span><a href="">首页</a> <code>&gt;</code> 购物流程</span></div>
		<div class="shop">
			<div class="shopend">
				<div class="shopendsuc">
					<h1>感谢您在本店购物！您的订单已提交成功</h1>
					<h2>您的订单号是<%=ordId%></h2>
				</div>
				<div class="shopend_bg" style="padding-left:40px">
					您的应付款金额为: <strong style="color:#ff0000">￥<%=money%>元</strong><br>
					<%-payForm%>
				</div>
				<div class="shopend_bg" style="padding-left:0px"><p style="text-align:center; margin-bottom:20px;">
						您可以 <a href="/">返回首页</a> 或去 <a href="/user/info">用户中心</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<%include ../footer.html%>
</body>
</html>