<div class="footert">
    <div class="footertl">
        <div class="footert_1">
            <img src="/images/logo21.gif">
        </div>
        <div class="footert_2">
            抢购热线（9:00-18:00）
            <p>
                <img src="/images/tel2.gif">
            </p>
        </div>
    </div>
    <div class="footertr">
        <div class="footertr_t">
            好趣购是货真价实的网络直销商城，好趣购所售手机全部都是厂家直接供货，没有任何中间批发 和分销环节，让您以最低价格，购买到性价比最高的手机。
        </div>
        <div class="footertr_b">
            <dl class="footertr_d1">
                <dt>
                </dt>
                <dd>
                    会员积分计划
                </dd>
            </dl>
            <dl>
                <dt>
                </dt>
                <dd>
                    免费订购热线
                </dd>
            </dl>
            <dl class="footertr_d3">
                <dt>
                </dt>
                <dd>
                    3000城市送货上门
                </dd>
            </dl>
            <dl class="footertr_d4">
                <dt>
                </dt>
                <dd>
                    品牌厂商直接供货
                </dd>
            </dl>
            <dl class="footertr_d5">
                <dt>
                </dt>
                <dd>
                    中国人保承保
                </dd>
            </dl>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="footer">
    <div class="foottop">
        <dl>
            <dt>
                新手上路
            </dt>
            <dd>
                <a href="javascript:void(0)" title="售后流程">
                    售后流程
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="购物流程">
                    购物流程
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="订购方式">
                    订购方式
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                手机常识
            </dt>
            <dd>
                <a href="javascript:void(0)" title="如何分辨原装电池">
                    如何分辨原装电池
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="如何分辨水货手机 ">
                    如何分辨水货手机
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="如何享受全国联保">
                    如何享受全国联保
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                配送与支付
            </dt>
            <dd>
                <a href="javascript:void(0)" title="货到付款区域">
                    货到付款区域
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="配送支付智能查询 ">
                    配送支付智能查询
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="支付方式说明">
                    支付方式说明
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                会员中心
            </dt>
            <dd>
                <a href="javascript:void(0)" title="资金管理">
                    资金管理
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="我的收藏">
                    我的收藏
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="我的订单">
                    我的订单
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                服务保证
            </dt>
            <dd>
                <a href="javascript:void(0)" title="退换货原则">
                    退换货原则
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="售后服务保证 ">
                    售后服务保证
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="产品质量保证 ">
                    产品质量保证
                </a>
            </dd>
        </dl>
        <dl>
            <dt>
                联系我们
            </dt>
            <dd>
                <a href="javascript:void(0)" title="网站故障报告">
                    网站故障报告
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="选机咨询 ">
                    选机咨询
                </a>
            </dd>
            <dd>
                <a href="javascript:void(0)" title="投诉与建议 ">
                    投诉与建议
                </a>
            </dd>
        </dl>
        <div class="foottop_r" onClick="window.location.href = '#'">
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footbot">
        <a href="javascript:void(0)">
            免责条款
        </a>
        |
        <a href="javascript:void(0)">
            隐私保护
        </a>
        |
        <a href="javascript:void(0)">
            咨询热点
        </a>
        |
        <a href="javascript:void(0)">
            联系我们
        </a>
        |
        <a href="javascript:void(0)">
            公司简介
        </a>
        |
        <a href="javascript:void(0)">
            批发方案
        </a>
        |
        <a href="javascript:void(0)">
            配送方式
        </a>
        <p>
            本站使用Node.js技术提供强劲动力 &copy; 2010-2017 zengming 版权所有，并保留所有权利。
        </p>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>