<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Generator" content="手机网" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
	<title>商城演示站 - Powered by Node.js</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="animated_favicon.gif" type="image/gif" />
<link href="/css/member.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<script src="/javascripts/jquery.js"></script>
</head>

<body>
<% include ../header%>

<div class="mainot">
	<script>
		function submitForm(){
			var obj = {
				username : $('#username').val(),
				password : $('#password').val(),
				yzm : $('#yzm').val()
			}
			$.post('/user/login', obj, function (data) {
				if(data.error){
					alert(data.error);
					$("#verify").click();
				} else {
					//注册成功
					//alert(''+data.success);
					location.assign('/user/info');
				}
			},'json');
		}
	</script>
	<div class="menu">当前位置: <span><a href="/">首页</a> <code>&gt;</code> 用户中心</span></div>
	<div class="logm" style="height: inherit;padding-bottom: 20px;">
		<div class="mainbt">登录后，继续操作</div>
		<div class="logregmain">
			<form name="formLogin" action="" method="post" onsubmit="return false">

				<div class="logregline">
					<div class="logreg_l">用户名：</div>
					<div class="logreg_r">
						<input id="username" name="username" type="text"  maxlength="100" class="input">
						<p><span id="valdateEmail">注册时的用户名</span></p>
					</div>
					<div class="clear"></div>
				</div>

				<div class="logregline">
					<div class="logreg_l">密 码：</div>
					<div class="logreg_r">
						<input id="password" name="password" type="password" class="input" maxlength="16">
						<p><a href="#"  name="losepsw">忘记密码？</a></p>

					</div>
					<div class="clear"></div>
				</div>
				<div class="logregline">
					<div class="logreg_l">验证码：</div>
					<div class="logreg_r">
						<input id="yzm" name="yzm" type="text" class="input" maxlength="16"  AUTOCOMPLETE="off">
						<p>
							<img src="/user/verify?" id="verify" onclick="this.src+=1"/>
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="logreg_dl">
					<a href="/user/reg" style="margin-left: 3em">注册</a>
					<input class="buttonred" id="loginButton" style="margin-left: 3em" value="登 录" type="submit" onclick="submitForm()">
				</div>
			</form>
		</div>

	</div>
	<div class="regm">
		<img src="/images/login.jpg" style="    width: 480px;height: 300px;"/>
	</div>
	<div class="clear"></div>
</div>

<% include ../footer.html %>

</body>
</html>