<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="Generator" content="手机网" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<title>商城演示站 - Powered by Node.js</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="icon" href="animated_favicon.gif" type="image/gif" />
	<link href="/css/member.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<% include ../header%>

<div class="content">
	<div class="menu">当前位置: <span><a href="">首页</a> <code>&gt;</code> 用户中心</span></div>
	<div class="user">
		<div class="usernav">
			<dl>
				<dt><span>　</span>帐户管理</dt>
				<dd>
					<a href="/user/orderlist">我的订单</a>
				</dd>
				<dd>
					<a href="/user/liuyan">我的留言</a>
				</dd>
				<dd>
					<a href="/user/favor">我的收藏</a>
				</dd>
			</dl>
			<dl>
				<dt><span>　</span>个人信息管理</dt>
				<dd>
					<a href="/user/info">用户信息</a>
				</dd>
				<dd class="ddor">
					<a href="/user/repwd">修改密码</a>
				</dd>
				<dd>
					<a href="/user/address">收货地址</a>
				</dd>
			</dl>
		</div>
		<div class="usermain">

			<div class="userright">
				<form name="formPassword" method="post" >
					<div class="mainbt">个人资料</div>
					<div class="logregmain">
						<div class="logregline">
							<div class="logreg_l">原密码：</div>
							<div class="logreg_r"><input name="old_password" id="old_password" size="25" maxlength="16" class="input" type="password"></div>
							<div class="clear"></div>
						</div>
						<div class="logregline">
							<div class="logreg_l">新密码：</div>
							<div class="logreg_r"><input name="new_password" id="new_password" maxlength="16" class="input" type="password"><span class="tips">密码请设为6-16位字母或数字</span>

							</div>
							<div class="clear"></div>
						</div>
						<div class="logregline">
							<div class="logreg_l">确认密码：</div>
							<div class="logreg_r"><input name="comfirm_password" id="comfirm_password" class="input" type="password"></div>
							<div class="clear"></div>
						</div>

						<div class="logreg_dl">
							<input style='padding: 0 2px;' class="buttonred" value="确认修改 " type="submit">
						</div>
					</div>
					<div class="clear"></div>
				</form>
			</div>

		</div>

		<div class="clear"></div>


		<div class="clear"></div>
	</div>
</div>

<% include ../footer.html%>

</body>
</html>