<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span1"><a href="javascript:void(0)">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"></span>
<div style="clear:both"></div>
</h1>
<ul id="lilist" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
  </ul>
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">

</ul>
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">订单统计信息</th>
  </tr>
  <tr>
    <td width="20%"><a href="javascript:void(0)">待发货订单:</a></td>
    <td width="30%"><strong style="color: red">4</strong></td>

    <td width="20%"><a href="javascript:void(0)">未确认订单:</a></td>
    <td width="30%"><strong>2</strong></td>
  </tr>
  <tr>
    <td><a href="javascript:void(0)">待支付订单:</a></td>
    <td><strong>3</strong></td>
    <td><a href="javascript:void(0)">已成交订单数:</a></td>

    <td><strong>3</strong></td>
  </tr>
  <tr>
    <td><a href="javascript:void(0)">新缺货登记:</a></td>
    <td><strong>2</strong></td>
    <td><a href="javascript:void(0)">退款申请:</a></td>
    <td><strong>0</strong></td>

  </tr>
</table>
</div>

<br />

<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">实体商品统计信息</th>
  </tr>
  <tr>

    <td width="20%">商品总数:</td>
    <td width="30%"><strong>20</strong></td>
    <td width="20%"><a href="javascript:void(0)">库存警告商品数:</a></td>
    <td width="30%"><strong style="color: red">7</strong></td>
  </tr>
  <tr>
    <td><a href="javascript:void(0)">新品推荐数:</a></td>

    <td><strong>11</strong></td>
    <td><a href="javascript:void(0)">精品推荐数:</a></td>
    <td><strong>10</strong></td>
  </tr>
  <tr>
    <td><a href="javascript:void(0)">热销商品数:</a></td>
    <td><strong>11</strong></td>

    <td><a href="javascript:void(0)">促销商品数:</a></td>
    <td><strong>0</strong></td>
  </tr>
</table>
</div>
<br />

<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">虚拟卡商品统计</th>

  </tr>
  <tr>
    <td width="20%">商品总数:</td>
    <td width="30%"><strong>6</strong></td>
    <td width="20%"><a href="javascript:void(0)">库存警告商品数:</a></td>
    <td width="30%"><strong style="color: red">2</strong></td>
  </tr>

  <tr>
    <td><a href="javascript:void(0)">新品推荐数:</a></td>
    <td><strong>1</strong></td>
    <td><a href="javascript:void(0)">精品推荐数:</a></td>
    <td><strong>4</strong></td>
  </tr>
  <tr>

    <td><a href="javascript:void(0)">热销商品数:</a></td>
    <td><strong>6</strong></td>
    <td><a href="javascript:void(0)">促销商品数:</a></td>
    <td><strong>0</strong></td>
  </tr>
</table>
</div>


<br />

<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">访问统计</th>
  </tr>
  <tr>
    <td width="20%">今日访问:</td>
    <td width="30%"><strong>4</strong></td>

    <td width="20%">在线人数:</td>
    <td width="30%"><strong>4</strong></td>
  </tr>
  <tr>
    <td><a href="javascript:void(0)">最新留言:</a></td>
    <td><strong>1</strong></td>
    <td><a href="javascript:void(0)">未审核评论:</a></td>

    <td><strong>1</strong></td>
  </tr>
</table>
</div>

<br />

<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="4" class="group-title">系统信息</th>

  </tr>
  <tr>
    <td width="20%">服务器操作系统:</td>
    <td width="30%">WINNT (127.0.0.1)</td>
    <td width="20%">Web 服务器:</td>
    <td width="30%">Apache/2.2.4 (Win32) PHP/5.2.4</td>
  </tr>

  <tr>
    <td>PHP 版本:</td>
    <td>5.2.4</td>
    <td>MySQL 版本:</td>
    <td>5.0.45-community-nt</td>
  </tr>
  <tr>

    <td>安全模式:</td>
    <td>否</td>
    <td>安全模式GID:</td>
    <td>否</td>
  </tr>
  <tr>
    <td>Socket 支持:</td>

    <td>是</td>
    <td>时区设置:</td>
    <td>PRC</td>
  </tr>
  <tr>
    <td>GD 版本:</td>
    <td>GD2 ( JPEG GIF PNG)</td>

    <td>Zlib 支持:</td>
    <td>是</td>
  </tr>
  <tr>
    <td>IP 库版本:</td>
    <td>20071024</td>
    <td>文件上传的最大大小:</td>

    <td>2M</td>
  </tr>
  <tr>
    <td>ECShop 版本:</td>
    <td>v2.7.2 RELEASE 20100604</td>
    <td>安装日期:</td>
    <td>2011-11-03</td>

  </tr>
  <tr>
    <td>编码:</td>
    <td>UTF-8</td>
    <td></td>
    <td></td>
  </tr>
</table>

</div>


<div id="footer">
本站使用Node.js + express + mongodb 提供强劲动力<br />
版权所有 &copy; 2010-2017 zengming QQ:243786753，并保留所有权利。
</div>

</body>
</html>