<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .page .num,.page .current{margin: 2px;}
    .page .current{color: red;font-weight: bold;}
</style>
<%=limit %>
<hr/>
<%-page %>
</body>
</html>